<div class="row justify-content-center pb-3">
  <div class="col-sm-8">
    <div class="text-center">
      <h2>ユーザー新規登録</h2>
    </div>
    <!--エラーメッセージここから-->
    <div class="row justify-content-center">
      <%= render "layouts/errors", obj: resource %>
    </div>
    <!--ここまで-->
    <div class="form-body pt-4">
      <%= form_with(model:[@user], url: user_registration_path, local: true) do |f| %>
        <!--ユーザー名入力欄-->
        <div class="form-group row justify-content-center">
          <div class="col-sm-2 ">
            <%= f.label :name, class: "control-label" %>
          </div>
          <div class="col-xs-4 ">
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <!--メールアドレス入力欄-->
        <div class="form-group row justify-content-center">
          <div class="col-sm-2">
            <%= f.label :email, class: "control-label" %>
          </div>
          <div class="col-xs-4">
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <!--パスワード入力欄-->
        <div class="form-group row justify-content-center">
          <div class="col-sm-2">
            <%= f.label :password, class: "control-label" %>
          </div>
          <div class="col-xs-4">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
        <!--確認用パスワード入力欄-->
        <div class="form-group row justify-content-center">
          <div class="col-sm-2">
            <%= f.label :password_confirmation, class: "control-label" %>
          </div>
          <div class="col-xs-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
        <div class="text-center ml-5">
          <%= f.submit "ユーザー登録", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
