<div class="row justify-content-center">
  
  <div class="col-12 d-none d-sm-block">
    <div class="row justify-content-center justify-content-sm-around">
      <div class="col-8 col-sm-6 col-md-4 col-lg-3 pt-1 pb-5 border-top border-secondary rounded-top-css ">
        <!--[部分テンプレート]フォロ一覧-->
        <%= render "followings", user_followings: @user_followings %>
        <div class="side-page pt-3">
          <%= paginate @user_followings, :param_name => "side_followings" %>
        </div>
      </div>
      <div class="col-8 col-sm-6 col-md-4 col-lg-3 pt-1 pb-5 border-top border-secondary rounded-top-css">
        <!--[部分テンプレート]フォロワ一覧-->
        <%= render "followers", user_followers: @user_followers %>
        <div class="side-page pt-3">
          <%= paginate @user_followers, :param_name => "side_followers" %>
        </div>
      </div>
    </div>
  </div>
  
  <!--[部分テンプレート]アコーディオン(スマホ画面)-->
  <div class="col-11 col-sm-0 d-sm-none">
    <%= render"mobile_panel" %>
  </div>
  
</div>
