<div class="row justify-content-center pb-3">
  <div class="col-12">
    <div class="text-center">
      <h2>ユーザーログイン</h2>
    </div>
    <div class="form-body pt-4">
      <%= form_with(model:[@user], url: user_session_path, local: true) do |f| %>
        <!--メールアドレス入力欄-->
        <div class="form-group row justify-content-center">
          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center col-lg-2">
            <%= f.label :email, class: "control-label" %>
          </div>
          <div class="input-group col-sm-6 col-md-6 col-lg-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <!--パスワード入力-->
        <div class="form-group row justify-content-center">
          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center col-lg-2">
            <%= f.label :password, class: "control-label" %>
          </div>
          <div class="input-group col-sm-6 col-md-6 col-lg-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="bi bi-key-fill"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>
        <div class="d-flex justify-content-center ml-3 ">
          <%= f.submit "ログイン", class: "btn btn-outline-primary" %>
          <div class="pl-3 pt-1">
            <%= link_to "ユーザー登録", new_user_registration_path, class: "text-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>