<div class="h3 mt-5 text-center font-weight-bold">
  <span class="d-none d-md-none d-sm-inline-block">
    <!-- [部分テンプレート]投稿削除ボタン -->
    <%= render "delete_btn", photo: photo %>
  </span>
  <%= photo.title %>
</div>

<div class="h6 text-center text-break text-muted border-bottom py-3">
  <%= photo.description %>
</div>

<div class="border-bottom">
  <% photo.tag_list.each do |tag| %>
    <%= link_to photos_path(tag_name: tag), class: "btn btn-outline-info rounded-pill p-0 px-2 mr-1 mb-1" do %>
      <%= tag %>
    <% end %>
  <% end %>
</div>
