<div class="row justify-content-center pd-3">
  <div class="col-sm-12 col-md-12 col-lg-12 d-none d-sm-block">
    <% if !@tag_exists %>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <%= render"carousel_like", photo_like_active: @photo_like_active, photo_like: @photo_like %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <%= render"carousel_comment", photo_comment_active: @photo_comment_active, photo_comment: @photo_comment %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-9">
    <div class="row justify-content-center">
      <div class="col-12 pt-3 pb-0">
        <div class="d-flex flex-column-reverse flex-md-row justify-content-md-between align-items-md-center">
          <div class="h3 m-0 pb-2">
            <i class="bi bi-send-fill"></i>
            投稿一覧
            <span class="badge badge-pill badge-light">
              <全<%= @photos.count %>件>
            </span>
          </div>
          <div class="pb-2">
            <%= render "layouts/search" %>
          </div>
        </div>
        <%= render "photo_list", photos: @photo_new %>
      </div>
      <div class="pt-1">
        <%= paginate @photo_new, :param_name => "photo" %>
      </div>
    </div>
  </div>
  <div class="col-lg-3 d-none d-lg-block">
    <%= render "users/user_total", users: @users, user_followings: @user_followings, user_followers: @user_followers %>
  </div>
</div>
