<div class="mb-2">
  <%= render "layouts/search" %>
</div>
<div class="row justify-content-center pd-3">
  <div class="col-sm-9">
    <div class="row justify-content-center">
      <div class="col-sm-12 pt-3 pb-0">
        <p class="h2 pb-2">
          <i class="bi bi-send-fill"></i>
          投稿一覧
          <span class="badge badge-pill badge-light">
            <全<%= @photos.count %>件>
          </span>
        </p>
        <%= render "photo_list", photos: @photo_new %>
      </div>
      <div class="pt-1">
        <%= paginate @photo_new, :param_name => "photo" %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render "users/user_total", users: @users, user_followings: @user_followings, user_followers: @user_followers %>
  </div>
</div>
