<header class="p-3">
  <div class="container px-3 py-2">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
      <%= link_to photos_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" do %>
        <%= image_tag "Shared.png"%>
      <% end %>
      <div class="ml-5">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user), class: "nav-link text-muted" do %>
                <i class="bi bi-house-door-fill"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to photos_path, class: "nav-link text-muted" do %>
                <i class="bi bi-images"></i> 投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to new_photo_path, class: "nav-link text-muted" do %>
                <i class="bi bi-send-fill"></i> 新規投稿
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-muted" do %>
              <i class="bi bi-door-closed-fill"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to photos_path, class: "nav-link text-muted" do %>
                <i class="bi bi-images"></i> 投稿一覧
              <% end %>
            </li>
            <li><%= link_to new_photo_path, class: "nav-link text-muted" do %>
                <i class="bi bi-send-fill"></i> 新規投稿
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "nav-link text-muted" do %>
                <i class="bi bi-door-open-fill"></i> ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="ml-auto">
        <div class="pt-3 pr-5">
          <%= render "layouts/nav_user" %>
        </div>
      </div>
    </div>
  </div>
</header>
